body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #5f0899;
    user-select: none;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 5px solid #c52573;
    border-radius: 10px;
    padding: 10px 60px;
    overflow: hidden;
}

h2{
    text-transform: uppercase;
    font-size: 40px;
    color: #fff;
    letter-spacing: 3px;
}

.game{
    width: 680px;
    height: 330px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
    justify-content: center;
}

.card{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 30px;

    transform: rotateY(180deg);
    transition: 0.5s;
}

.card::after{
    content: "";
    position: absolute;
    inset: 0;
    background-color: #c52573;

    transition: 0.5s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.card.open{
    transform: rotateY(0deg);
}

.open::after{
    transform: rotateY(180deg);
}

.reset{
    text-transform: uppercase;
    padding: 15px 20px;
    width: 250px;
    background-color:#c52573;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 5px;
    color: #fff;
}

.reset:hover{
    cursor: pointer;
    background-color: #96094d;
}

/* MODAL */

.modal{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 999;
    margin: auto;
    background-color: #5f0899;
    color: #fff;
    border: 8px solid #c52573;
    border-radius: 20px;

    width: 380px;
    height: 200px;

    visibility: hidden;
    opacity: 0;
}

.modal-text{
    font-size: 50px;
}

.modal-btn{
    font-size: 20px;
    border: 2px solid #c52573;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.modal-btn:hover{
    background-color: #96094d;
}

.visible{
    visibility: visible;
    opacity: 1;
}

/* responsividade */

/* mobile */

@media only screen and (min-width: 320px) and (max-width: 480px){
    h2{
        text-align: center;
        font-size: 30px;
    }

    .container{
        padding: 10px;
    }

    .game{
        min-width: 280px;
        max-width: 320px;
        height: fit-content;
    }

    .card{
        width: 75px;
        height: 75px;
    }

    .reset{
        min-width: 280px;
        max-width: 300px;
    }
}

/* galaxy fold */

@media only screen and (width: 280px){

    h2{
        text-align: center;
        font-size: 25px;
    }

    .container{
        padding: 10px;
    }

    .game{
        width: 280px;
        height: fit-content;
    }

    .card{
        width: 70px;
        height: 70px;
    }

    .reset{
        font-size: 20px;
    }
}

/* tablet */

@media only screen and (min-width: 481px) and (max-width: 768px){
    .container{
        padding: 10px;
    }

    .game{
        min-width: 481px;
        max-width: 500px;
        height: fit-content;
    } 
}

/* telas pequenas */

@media only screen and (min-width: 769px) and (max-width: 1023px){
    .game{
        min-width: 481px;
        max-width: 520px;
        height: fit-content;
    } 

    .card{
        height: 100px;
        width: 100px;
    }
}